.home {
  position: relative;
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #101010;
}

.home .video {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
  top: 0;
  left: 0;
  z-index: -1;
}

.home .contenu {
  position: relative;
  z-index: 1;
}

.home h1 {
  font-size: 3rem;
  font-weight: bold;
  margin-bottom: 15px;
  font-family: "Cormorant SC", serif;
}

.home p {
  font-size: 1.2rem;
}

.home button {
  background: rgba(51, 131, 205, 0.85);
  color: #222;
  padding: 10px 20px;
  font-size: 1rem;
  margin-top: 15px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

html, body {
  margin: 0;
  padding: 0;
  overflow: hidden; 
  height: 100%;
  width: 100%;
}
